<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
  <head>
    <title>Saldos</title>
    <meta charset="UTF-8">
  </head>
  <body>
    <div layout:fragment="content">
      <div class="row pt-1 pb-1 mb-1 mx-0 flex-nowrap">
        <div class="col pl-0">
          <a class="btn btn-green text-white font-weight-bold text-nowrap" title="Registrar nuevo saldo"
            th:href="@{/saldo/nuevo}">
            Nuevo Saldo
          </a>
        </div>
        <div class="col-md-auto pr-0 dropdown">
          <button class="btn btn-secondary float-right" 
          type="button" id="filterButton" 
          data-toggle="dropdown" aria-haspopup="true" 
          aria-expanded="false"
          title="Filtrar saldos de la tabla">
            <i class="fas fa-filter"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterButton">
            <input id="filtro" type="text" class="form-control m-2" placeholder="Filtrar por datos del saldo">
          </div>
        </div>
      </div>
      <p
      id="swInfo" class="d-none"
      th:data1="${desc}" 
      th:data2="${session.swTitle}" 
      th:data3="${session.swText}" 
      th:data4="${session.swIcon}">
      </p>
      <div class="table-responsive">
	    <table class="table table-hover">
	      <thead class="thead-light">
	        <tr>
	          <th class="align-middle text-center">Código</th>
	  	      <th class="align-middle text-center">Empleado</th>
	  	      <th class="align-middle text-center">Fondo de Caja</th>
	  	      <th class="align-middle text-center">Abono a Compras</th>
	  	      <th class="align-middle text-center">Compra Total</th>
	  	      <th class="align-middle text-center">Venta Total</th>
	  	      <th class="align-middle text-center">Total</th>
	  	      <th class="align-middle text-center">Fecha</th>
	  	      <th class="align-middle text-center" colspan="2">Acciones</th>
	        </tr>
	      </thead>
	      <tbody id="tabla">
	        <th:block th:each="saldo: ${saldos}">
              <tr>
                <td class="text-center align-middle"><p th:text="${saldo.id}"></p></td>
                <td class="align-middle">
                  <p th:text="${saldo.empleado.nombre} 
                  + ' ' + ${saldo.empleado.apellidoPaterno} 
                  + ' ' + ${saldo.empleado.apellidoMaterno}">
                  </p>
                </td>
                <td class="text-center align-middle">
                  <p th:text="${#strings.concat('$', #numbers.formatDecimal(saldo.fondoCaja, 1, 2, 'POINT'))}"></p>
                </td>
                <td class="text-center align-middle">
                  <p th:text="${#strings.concat('$', #numbers.formatDecimal(saldo.abonoCompra, 1, 2, 'POINT'))}"></p>
                </td>
                <td class="text-center align-middle">
                  <p th:text="${#strings.concat('$', #numbers.formatDecimal(saldo.compraTotal, 1, 2, 'POINT'))}"></p>
                </td>
                <td class="text-center align-middle">
                  <p th:text="${#strings.concat('$', #numbers.formatDecimal(saldo.ventaTotal, 1, 2, 'POINT'))}"></p>
                </td>
                <td class="text-center align-middle">
                  <p th:text="${#strings.concat('$', #numbers.formatDecimal(saldo.total, 1, 2, 'POINT'))}"></p>
                </td>
                <td class="text-center align-middle">
                  <th:block th:with="sdf = ${new java.text.SimpleDateFormat('yyyy-MM-dd''T''HH:mm:ss')}">
                    <p th:text=" ${#dates.format(
                    #calendars.createForTimeZone(
                    #calendars.year(sdf.parse(saldo.fechaCreacion)), 
                    #calendars.month(sdf.parse(saldo.fechaCreacion)), 
                    #calendars.day(sdf.parse(saldo.fechaCreacion)), 
                    #calendars.hour(sdf.parse(saldo.fechaCreacion)), 
                    #calendars.minute(sdf.parse(saldo.fechaCreacion)),'Mexico_City'), 'dd/MM/yyyy HH:mm')}"></p>
                  </th:block>
                </td>
                <td class="text-center align-middle" style="width: 5%;">
                  <a class="btn btn-primary" title="Modificar saldo" th:href="@{'/saldo/' + ${saldo.id}}">
                    <i class="fas fa-edit fa-sm"></i>
                  </a>
                </td>
                <td class="text-center align-middle" style="width: 5%;">
                <form th:action="@{'/deleteSaldo/' + ${saldo.id}}" method="post" class="get-form">
                  <button class="btn btn-danger" type="submit" title="Eliminar saldo">
                    <i class="fas fa-trash-alt fa-sm"></i>
                  </button>
                </form>
                </td>
              </tr>
            </th:block>
          </tbody>
	    </table>
	  </div>
    </div>
    <th:block layout:fragment="chart"><script th:src="@{/js/tablefilter.js}"></script></th:block>
  </body>
</html>